---
import Image from "astro/components/Image.astro";
import gnomeSound from "../../assets/sounds/gnome.mp3";
import dragon from "../../assets/bits/dragon.gif";
import dwarf from "../../assets/bits/dwarf.gif";
import gore from "../../assets/bits/gore.gif";
import crunchSound1 from "../../assets/sounds/crunch1.mp3";
import crunchSound2 from "../../assets/sounds/crunch2.mp3";
// import grass from "../../assets/textures/grass.jpg";
---

<div
	class='feed-the-dragon-container'
	data-gore-img={gore.src}
	data-gnome-sound={gnomeSound}
	data-crunch-sound1={crunchSound1}
	data-crunch-sound2={crunchSound2}
>
	<div class='feed-the-dragon-text'>
		<p>FEED THE DRAGON</p>
		<p class='feed-the-dragon-status-container'>
			The dragon is{" "}
			<i class='dragon-hunger-status'></i>
		</p>
	</div>
	<div
		class='dwarf-draggable dwarf'
		data-dwarf-src={dwarf.src}
		style=`background-image: url(${dwarf.src})`
	>
	</div>
	<Image src={dragon} alt='Dragon GIF' class='dragon' />
</div>

<script>
	import { createDraggable, animate, createTimeline } from "animejs";

	const container = document.querySelector(
		".feed-the-dragon-container",
	) as HTMLElement;
	const dwarf = document.querySelector(".dwarf-draggable") as HTMLElement;
	const dragon = container.querySelector(".dragon") as HTMLElement;
	const textElement = container.querySelector(
		".dragon-hunger-status",
	) as HTMLElement;

	const DRAGON_HUNGER_KEY = "dragonHunger";
	const hungerStates = [
		"Fat and Jolly",
		"Stuffed Full",
		"Satisfied... for now",
		"Slightly Peckish",
		"Growling with Hunger",
		"Ravenous",
		"Starved to the Bone",
	];

	const gnomeSound = new Audio(container.dataset.gnomeSound);
	gnomeSound.volume = 0.6;
	const crunchSound1 = new Audio(container.dataset.crunchSound1);
	crunchSound1.volume = 0.6;
	const crunchSound2 = new Audio(container.dataset.crunchSound2);
	crunchSound2.volume = 0.6;
	const crunchSounds = [crunchSound1, crunchSound2];

	const dwarfSrc = dwarf.dataset.dwarfSrc!;
	const goreSrc = container.dataset.goreImg!;

	function getHunger() {
		const hunger = parseInt(localStorage.getItem(DRAGON_HUNGER_KEY) || "0");
		return hunger;
	}

	let hungerTimeout: ReturnType<typeof setTimeout> | null = null;

	function setHunger(value: number) {
		const clampedValue = Math.max(
			0,
			Math.min(value, hungerStates.length - 1),
		);
		localStorage.setItem(DRAGON_HUNGER_KEY, clampedValue.toString());

		const status = getHungerStatus();
		if (textElement) {
			textElement.textContent = status;
		}

		// Clear and restart hunger timeout
		if (hungerTimeout) {
			clearTimeout(hungerTimeout);
		}
		hungerTimeout = setTimeout(() => {
			modifyHunger(1);
		}, 4000); // 5 seconds, adjust as needed
	}

	function modifyHunger(amount: number) {
		const currentHunger = getHunger();
		setHunger(currentHunger + amount);
	}

	function getHungerStatus() {
		const hunger = getHunger();

		const index = Math.max(
			Math.min(Math.floor(hunger), hungerStates.length - 1),
			0,
		);
		return hungerStates[index];
	}

	function isOverlapping(a: HTMLElement, b: HTMLElement): boolean {
		const r1 = a.getBoundingClientRect();
		const r2 = b.getBoundingClientRect();
		return !(
			r1.right < r2.left ||
			r1.left > r2.right ||
			r1.bottom < r2.top ||
			r1.top > r2.bottom
		);
	}

	let consuming = false;
	let rafId: number | null = null;

	function startOverlapCheck() {
		function check() {
			if (consuming) return;
			if (isOverlapping(dwarf, dragon)) {
				stopOverlapCheck();
				eatTheDwarf();
				return;
			}
			rafId = requestAnimationFrame(check);
		}
		rafId = requestAnimationFrame(check);
	}

	function stopOverlapCheck() {
		if (rafId !== null) {
			cancelAnimationFrame(rafId);
			rafId = null;
		}
	}

	const dwarfDraggable = createDraggable(dwarf, {
		container: container,
		onGrab: () => {
			gnomeSound.play();
			startOverlapCheck();
		},
		onSettle: () => {
			stopOverlapCheck();
		},
	});

	function eatTheDwarf() {
		consuming = true;

		// Dragon munch animation
		createTimeline()
			.add(dragon, {
				scale: [1.2, 1],
				duration: 300,
				easing: "easeOutBack",
			})
			.add(
				dragon,
				{
					filter: ["brightness(2)", "brightness(1)"],
					duration: 300,
					easing: "easeInOutSine",
				},
				"<<",
			);

		// Dwarf crunch + gore animation + respawn sequence
		createTimeline()
			.call(() => {
				dwarfDraggable.disable();
				dwarf.style.backgroundImage = `url(${goreSrc})`;
				const sound =
					crunchSounds[
						Math.floor(Math.random() * crunchSounds.length)
					];
				sound.play();
				modifyHunger(-1);
			})
			// Impact punch on gore appearance
			.add(dwarf, {
				scale: [1.4, 1],
				duration: 250,
				easing: "outBack",
			})
			// Hold on gore for a moment, then fade out
			.add(dwarf, {
				opacity: [1, 0],
				duration: 250,
				delay: 500,
				easing: "inQuad",
			})
			// Reset position and sprite off-screen left, then walk in
			.call(() => {
				dwarfDraggable.reset();
				dwarf.style.backgroundImage = `url(${dwarfSrc})`;
				dwarf.style.transform = "translate(0px, 0px)";
			})
			.add(dwarf, {
				opacity: [0, 1],
				translateX: [-60, 0],
				duration: 400,
				easing: "outCubic",
			})
			// Re-enable feeding once the new dwarf has arrived
			.call(() => {
				consuming = false;
				dwarfDraggable.enable();
			});
	}

	modifyHunger(0);
</script>

<style>
	.feed-the-dragon-container {
		background: white;
		position: relative;
		height: 105px;
		overflow: hidden;
		background-size: 200px 200px;
		width: 100%;
		/* animation: background-scroll 5s linear infinite; */
	}

	/* Just a white background for now */
	/* @keyframes background-scroll {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 200px 0;
		}
	} */

	.feed-the-dragon-text {
		color: black;
		position: absolute;
		margin: 0;
		top: 3px;
		left: 5px;
		pointer-events: none;
		user-select: none;
	}

	.feed-the-dragon-status-container {
		font-size: 0.75rem;
	}

	.feed-the-dragon-text p {
		margin: 0;
	}

	.dragon-hunger-status {
		font-weight: bold;
		color: rgb(130, 10, 173);
		font-size: 0.75rem;
	}

	.dragon {
		margin: 0 auto;
		position: absolute;
		right: 10px;
		pointer-events: none;
		z-index: 1;
		/* filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5)); */
	}

	.dwarf {
		z-index: 100;
		margin: 0 auto;
		position: absolute;
		left: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 3px;
		height: 50px;
		width: 45px;
	}
</style>
